<form action="/prehistoric_creatures" method="GET">
    <label for="nameFilter">Filter By Name</label>
    <input type="text" name="nameFilter" id="nameFilter">
    <input type="submit">
</form>

<ul>
    <% prehistoricData.forEach((prehistoricCreatures, index) => { %>
        <li>
            <%= prehistoricCreatures.name %> is a <%= prehistoricCreatures.type %>
            <form action="/prehistoric_creatures/<%= index %>/?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form> 
        </li>
   <% }); %>
</ul>