<form action="/prehistoric_creatures" method="POST">
    <label for="prehistoricCreatureName">Name</label>
    <input type="text" id="prehistoricCreatureName" name="name">

    <label for="prehistoricCreatureType">Type</label>
    <input type="text" id="prehistoricCreatureType" name="type">

    <input type="submit" value="Add a Prehistoric Creature">
</form>